{# Video work: Mama Caught Fire #}
{% extends 'templates/subtemplates/_work-video.njk' %}

{% set workTitle = 'Post-Concert Urban Assault Ride' %}
{% set workID = 'mcf' %}

{% set videoID = '6DOqK1X19Vo' %}
{% set videoThumbnail = 'mcf2.jpg' %}

{% block workDescription %}
	<p>In a two-part video, I made a game out of getting across town for a concert: urban mountain biking. Set to the tunes of the concert whose CD release show I was attending, these videos show an angle of Minneapolis not everyone catches.</p>
{% endblock %}

{% set roles = ['Direction','Cinematography','Editing','Graphic design','"Stunts"'] %}