{# Video work: Rest Stop Skate #}
{% extends 'templates/subtemplates/_work-video.njk' %}

{% set workTitle = 'Rest Stop Skate' %}
{% set workID = 'rest-stop-skate' %}

{% set videoID = 'qS9TmmjyloQ' %}
{% set videoThumbnail = 'rss.jpg' %}

{% block workDescription %}
	<p>We drove down to Florida from Minneapolis. It's a long drive, two days for us, so I brought my skateboard and made a game: every time we stop for rest or refuel, I would hop on my board and do a different trick at that spot.</p>
{% endblock %}

{% set roles = ['Direction','Editing','Graphic design','"Stunts"'] %}