{# Video work: Winter Cycling Congress #}
{% extends 'templates/subtemplates/_work-video.njk' %}

{% set workTitle = 'Winter Cycling Congress' %}
{% set workID = 'winter-cycling-congress' %}

{% set videoID = '1SWVwOMrH1g' %}
{% set videoThumbnail = 'wcm.jpg' %}

{% block workDescription %}
	<p>Friend and colleague Tony Desnick of <a href="http://www.minneapolize.com/" target="_blank">Minneapolize</a> commissioned a video to present at the 2015 Winter Cycling Congress exemplifying the different aspects of winter cycling culture in the Twin Cities.</p>

	<p>The video was picked up by several publications including <a href="http://wintercyclingblog.org/2015/02/12/announcing-the-2016-hosts-of-winter-cycling-congress/" target="_blank">Winter Cycling Blog</a> and <a href="https://www.minnpost.com/political-agenda/2015/02/twin-cities-host-2016-international-winter-cycling-congress" target="_blank">MinnPost</a>.</p>

	<p>Tony's presentation and the Twin Cities' cycling community and  infrastructure earned itself the 2016 host of the the Winter Cycling Congress.</p>
{% endblock %}

{% set roles = ['Direction','Cinematography','Editing','Interviewing','Graphic design'] %}