<header id="masthead">
    <a href="/" class="site-title">
        <span class="full-name">Brandon Patrick Sullivan</span>
        <span class="initials">bps</span>
    </a>
    <nav>
        <ol>
            <li><a href="/about"{% if pageID == 'about' %} class="active"{% endif %}>About</a></li>
            <li><a href="/web"{% if pageID == 'web' %} class="active"{% endif %}>Web</a></li>
            <li><a href="/video"{% if pageID == 'video' %} class="active"{% endif %}>Video</a></li>
            <li><a href="/music"{% if pageID == 'music' %} class="active"{% endif %}>Music</a></li>
            <!--<li><a href="/other/"{% if pageID == 'other' %} class="active"{% endif %}>Other Projects</a></li>-->
        </ol>
    </nav>
</header>