<header id="masthead">
    <a href="index.html" class="site-title">Brandon Patrick Sullivan</a>
    <nav>
        <ol>
            <li><a href="about.html"{% if pageID == 'about' %} class="active"{% endif %}>About</a></li>
            <li><a href="web.html"{% if pageID == 'web' %} class="active"{% endif %}>Web</a></li>
            <li><a href="video.html"{% if pageID == 'video' %} class="active"{% endif %}>Video</a></li>
            <li><a href="music.html"{% if pageID == 'music' %} class="active"{% endif %}>Music</a></li>
            <!--<li><a href="other.html"{% if pageID == 'other' %} class="active"{% endif %}>Other Projects</a></li>-->
        </ol>
    </nav>
</header>