{# Web work: Heller #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'heller' %}

{% set workTitle = 'Heller Bikes' %}

{% block workDescription %}
	<p>Heller Bikes information</p>
{% endblock %}

{% set websiteUrl = 'https://hellerbikes.com/' %}

{% set roles = ['Digital strategy','Wireframing','User experience design','Front-end development','CMS customization'] %}

{% set workImagePath = 'assets/media/images/web/Heller' %}

{% set workImages = [
	{
		'desktop' : {
			'imgName': 'bikes-landing_desktop'
			'imgExtension': '.jpg',
			'altText': 'Heller Bikes Website, desktop example'
		},
		'tablet' : {
			'imgName': 'bikes-landing_tablet'
			'imgExtension': '.jpg',
			'altText': 'Heller Bikes Website, tablet example'
		},
		'mobile' : {
			'imgName': 'bikes-landing_mobile'
			'imgExtension': '.jpg',
			'altText': 'Heller Bikes Website, mobile example'
		}
	},
	{
		'desktop' : {
			'imgName': 'bike-detail_desktop'
			'imgExtension': '.jpg',
			'altText': 'Heller Bikes Website, desktop example'
		},
		'tablet' : {
			'imgName': 'bike-detail_tablet'
			'imgExtension': '.jpg',
			'altText': 'Heller Bikes Website, tablet example'
		},
		'mobile' : {
			'imgName': 'bike-detail_mobile'
			'imgExtension': '.jpg',
			'altText': 'Heller Bikes Website, mobile example'
		}
	}
]
%}
