{# Web work: iSSi #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'issi' %}

{% set workTitle = 'iSSi Pedals' %}

{% block workDescription %}
	<p>iSSi is a bicycle pedal brand operating within Quality Bicycle Products. As a small brand, iSSi had a lot of room to be loud and expressive with its product and presentation. In 2016, I led the project of their first major website, strategized and built with flexibility in mind for the future of the brand. Since then, I've iterated with iSSi to adapt their digital presentation to more closely reflect their playful and very colorful nature.</p>
{% endblock %}

{% set websiteUrl = 'https://rideissi.com/' %}

{% set roles = ['Project leadership','Digital strategy','Wireframing','User experience design','Web design','Front-end development','CMS customization'] %}

{% set workImagePath = 'assets/media/images/web/iSSi' %}

{% set workImages = [
	{
		'desktop' : {
			'imgName': 'homepage_desktop',
			'imgExtension': '.jpg',
			'altText': 'iSSi Pedals Website, desktop example 1'
		},
		'tablet' : {
			'imgName': 'homepage_tablet',
			'imgExtension': '.jpg',
			'altText': 'iSSi Pedals Website, tablet example 1'
		},
		'mobile' : {
			'imgName': 'homepage_mobile',
			'imgExtension': '.jpg',
			'altText': 'iSSi Pedals Website, mobile example 1'
		}
	},
	{
		'desktop': {
			'imgName': 'pedal-detail_desktop',
			'imgExtension': '.jpg',
			'altText': 'iSSi Pedals Website, desktop example 2'
		},
		'tablet': {
			'imgName': 'pedal-detail_tablet',
			'imgExtension': '.jpg',
			'altText': 'iSSi Pedals Website, tablet example 2'
		},
		'mobile': {
			'imgName': 'pedal-detail_mobile',
			'imgExtension': '.jpg',
			'altText': 'iSSi Pedals Website, mobile example 2'
		}
	}
]
%}