{# Web work: Whisky #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'whisky' %}

{% set workTitle = 'Whisky Parts Co' %}

{% block workDescription %}
	<p>Whisky is a carbon fiber bike parts brand within Quality Bicycle Products. As their lineup grew beyond their initial small catalog, so did the need for a larger, scalable website. Specifically catering to the brand's new goal to embrace bold colors and typography, we launched a site listing their wide breadth of product in a vibrant but minimalist display.</p>
{% endblock %}

{% set websiteUrl = 'https://whiskyparts.co/' %}

{% set roles = ['Project leadership','Digital strategy','Wireframing','User experience design','Web design','Front-end development','CMS customization'] %}

{% set workImagePath = 'assets/media/images/web/Whisky' %}

{% set workImages = [
	{
		'desktop' : {
			'imgName': 'product-detail_desktop',
			'imgExtension': '.jpg',
			'altText': 'Whisky Parts Co Website, desktop example 1'
		},
		'tablet' : {
			'imgName': 'product-detail_tablet',
			'imgExtension': '.jpg',
			'altText': 'Whisky Parts Co Website, tablet example 1'
		},
		'mobile' : {
			'imgName': 'product-detail_mobile',
			'imgExtension': '.jpg',
			'altText': 'Whisky Parts Co Website, mobile example 1'
		}
	},
	{
		'desktop': {
			'imgName': 'select-detail_desktop',
			'imgExtension': '.jpg',
			'altText': 'Whisky Parts Co Website, desktop example 2'
		},
		'tablet': {
			'imgName': 'select-detail_tablet',
			'imgExtension': '.jpg',
			'altText': 'Whisky Parts Co Website, tablet example 2'
		},
		'mobile': {
			'imgName': 'select-detail_mobile',
			'imgExtension': '.jpg',
			'altText': 'Whisky Parts Co Website, mobile example 2'
		}
	}
]
%}