{# Music Release: As Is #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'As Is' %}
{% set workID = 'asis' %}
{% set workThumb = '12_12-29_As_Is.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/as-is' %}