{# Music Release: Clumsy Hands #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Clumsy Hands' %}
{% set workID = 'too-earley' %}
{% set workThumb = '22_03-05_Clumsy_Hands.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/clumsy-hands' %}