{# Music Release: Def and Dum #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Def and Dum' %}
{% set workID = 'dad' %}
{% set workThumb = '12_09-16_Def-and-Dum.jpg' %}
{% set workUrl = 'https://defanddum.bandcamp.com/releases' %}