{# Music Release: Dotted Legs #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Dotted Legs' %}
{% set workID = 'dottedlegs' %}
{% set workThumb = '15_08-01_Dotted_Legs.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/dotted-legs' %}