{# Music Release: Healing #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Healing' %}
{% set workID = 'healing' %}
{% set workThumb = '21_12-20_Healing.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/healing' %}