{# Music Release: Hyperzoa #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Hyperzoa' %}
{% set workID = 'hyperzoa' %}
{% set workThumb = '08_08-29_Hyperzoa.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/hyperzoa' %}