{# Music Release: Hypotenuse #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Hypotenuse' %}
{% set workID = 'hypotenuse' %}
{% set workThumb = '13_04-02_Hypotenuse.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/hypotenuse' %}