{# Music Release: TDR3 #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'TDR3' %}
{% set workID = 'tdr3' %}
{% set workThumb = '20_06-01_TDR3.jpg' %}
{% set workUrl = 'https://thedecayedrealms.bandcamp.com/album/tdr3' %}