{# Music Release: That's Not How I Remember It #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'That's Not How I Remember It' %}
{% set workID = 'tnhiri' %}
{% set workThumb = '22_12-02_Thats_Not_How_I_Remember_It.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/thats-not-how-i-remember-it' %}