{# Music Release: The Quest Club Demo #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'The Quest Club Demo' %}
{% set workID = 'quest' %}
{% set workThumb = '05_11-19_Quest_Demo.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/the-quest-club-demo' %}