{# Music Release: Too Earley #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Too Earley' %}
{% set workID = 'too-earley' %}
{% set workThumb = '22_09-06_Too_Earley.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/too-earley' %}