{# Music Release: You Can Help It #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'You Can Help It' %}
{% set workID = 'ychi' %}
{% set workThumb = '23_10-27_You_Can_Help_It.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/you-can-help-it' %}