{# Music Release: 4 Days #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = '4 Days' %}
{% set workID = 'fd' %}
{% set workThumb = '13_12-01_4_Days.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/4-days' %}