{# Music Release: 400 Bar #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = '400 Bar' %}
{% set workID = 'bar' %}
{% set workThumb = '11_06-22_400_Bar.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/summer-solstice-400-bar' %}