{# Music Release: Atlas #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Atlas' %}
{% set workID = 'atlas' %}
{% set workThumb = '14_09-01_Atlas.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/atlas' %}