{# Music Release: Blind Lunar Novas #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Blind Lunar Novas' %}
{% set workID = 'bln' %}
{% set workThumb = '07_08-27_BLN.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/blind-lunar-novas' %}