{# Music Release: Clarity #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Clarity' %}
{% set workID = 'clarity' %}
{% set workThumb = '15_06-29_Clarity.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/clarity' %}