{# Music Release: Ex Mens Mentis Ab Organum #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Ex Mens Mentis Ab Organum' %}
{% set workID = 'emmao' %}
{% set workThumb = '09_11-18_ex_mens_mentis_ab_organum.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/ex-mens-mentis-ab-organum' %}