{# Music Release: Fall #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Fall' %}
{% set workID = 'fall' %}
{% set workThumb = '12_09-22_Fall.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/fall' %}