{# Music Release: Gizmo #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Gizmo' %}
{% set workID = 'gizmo' %}
{% set workThumb = '10_07-17_Gizmo.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/gizmo' %}