{# Music Release: Grounded #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Grounded' %}
{% set workID = 'grounded' %}
{% set workThumb = '18_02-06_Grounded.jpg' %}
{% set workUrl = 'https://thedecayedrealms.bandcamp.com/album/grounded' %}