{# Music Release: improv #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'improv' %}
{% set workID = 'improv' %}
{% set workThumb = '07_08-29_improv.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/improv' %}