{# Music Release: Sigh #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Sigh' %}
{% set workID = 'sigh' %}
{% set workThumb = '13_10-25_Sigh.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/sigh' %}