{# Music Release: The Carousel Room #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'The Carousel Room' %}
{% set workID = 'tcr' %}
{% set workThumb = '10_05-05_The_Carousel_Room.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/the-carousel-room' %}