{# Music Release: The Decayed Realms #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'The Decayed Realms' %}
{% set workID = 'tdr' %}
{% set workThumb = '16_12-30_The_Decayed_Realms.jpg' %}
{% set workUrl = 'https://thedecayedrealms.bandcamp.com/album/the-decayed-realms' %}