{# Music Release: Trocaderos #}
{% extends 'templates/subtemplates/_work-music_thumb.njk' %}

{% set workTitle = 'Trocaderos' %}
{% set workID = 'trocaderos' %}
{% set workThumb = '09_04-19_Trocaderos.jpg' %}
{% set workUrl = 'http://clidesfeld.com/album/trocaderos' %}