{# Music Project: Def & Dum #}
{% extends 'templates/subtemplates/_work-music_project.njk' %}

{% set workTitle = 'Def &amp; Dum' %}
{% set workID = 'def-and-dum' %}

{% set workThumb = 'def-and-dum.jpg' %}
{% set workThumbAlt = 'Promotional image of Def and Dum' %}

{% block workDescription %}
	<p>Bluesy folk music carrying a darkness and unflinching honesty, crafted in bus terminals, city corners, and stranger's homes across the country.</p>
{% endblock %}

{% set workUrl = 'http://defanddump.bandcamp.com/' %}
{% set workUrlStripped = 'defanddump.bandcamp.com' %}