{# Music Project: Clidesfeld #}
{% extends 'templates/subtemplates/_work-music_project.njk' %}

{% set workTitle = 'Clidesfeld' %}
{% set workID = 'clidesfeld' %}

{% set workThumb = 'clidesfeld.jpg' %}
{% set workThumbAlt = 'Promotional image of Clidesfeld' %}

{% block workDescription %}
	<p>An alternative rock and electronic music project filled with snappy criticism, introspection, and optimism that grew to host several collaborators.</p>
{% endblock %}

{% set workUrl = 'http://clidesfeld.com/' %}
{% set workUrlStripped = 'clidesfeld.com' %}