{# Music Project: The Decayed Realms #}
{% extends 'templates/subtemplates/_work-music_project.njk' %}

{% set workTitle = 'The Decayed Realms' %}
{% set workID = 'the-decayed-realms' %}

{% set workThumb = 'the-decayed-realms.jpg' %}
{% set workThumbAlt = 'The Decayed Realms performing on the Cargotrike' %}

{% block workDescription %}
	<p>An electronic rock duo combining live-performed melody and percussion to craft wordless narratives ranging from the slow and pensive to the cinematic and intense.</p>
{% endblock %}

{% set workUrl = 'http://thedecayedrealms.com/' %}
{% set workUrlStripped = 'thedecayedrealms.com' %}