<article id="{{ workID }}" class="work web">
	<div class="examples">
		{% for workImage in workImages %}
			{# For now, only show the first set of images in the array. Multi-example gallery to come. #}
			{% if loop.first %}
				<figure>
					<img 
						srcset="{{ workImagePath }}/{{ workImage.desktop.imgName }}-1200{{ workImage.desktop.imgExtension }} 1200w,
						        {{ workImagePath }}/{{ workImage.desktop.imgName }}-1000{{ workImage.desktop.imgExtension }} 1000w,
						        {{ workImagePath }}/{{ workImage.desktop.imgName }}-800{{ workImage.desktop.imgExtension }} 800w,
						        {{ workImagePath }}/{{ workImage.desktop.imgName }}-600{{ workImage.desktop.imgExtension }} 600w," 
						sizes="(min-width:0em) 91vw,
						       (min-width:40em) 60vw"
						src="{{ workImagePath }}/{{ workImage.desktop.imgName }}-800{{ workImage.desktop.imgExtension }}" 
						alt="{{ workImage.desktop.altText|safe }}" 
						class="desktop">
					<img 
						srcset="{{ workImagePath }}/{{ workImage.tablet.imgName }}-700{{ workImage.tablet.imgExtension }} 700w,
						        {{ workImagePath }}/{{ workImage.tablet.imgName }}-583{{ workImage.tablet.imgExtension }} 583w,
						        {{ workImagePath }}/{{ workImage.tablet.imgName }}-467{{ workImage.tablet.imgExtension }} 467w,
						        {{ workImagePath }}/{{ workImage.tablet.imgName }}-350{{ workImage.tablet.imgExtension }} 350w," 
						sizes="(min-width:0em) 30vw,
						       (min-width:40em) 20vw" 
						src="{{ workImagePath }}/{{ workImage.tablet.imgName }}-467{{ workImage.tablet.imgExtension }}" 
						alt="{{ workImage.tablet.altText|safe }}" 
						class="tablet">
					<img 
						srcset="{{ workImagePath }}/{{ workImage.mobile.imgName }}-300{{ workImage.mobile.imgExtension }} 300w,
						        {{ workImagePath }}/{{ workImage.mobile.imgName }}-250{{ workImage.mobile.imgExtension }} 250w,
						        {{ workImagePath }}/{{ workImage.mobile.imgName }}-200{{ workImage.mobile.imgExtension }} 200w,
						        {{ workImagePath }}/{{ workImage.mobile.imgName }}-150{{ workImage.mobile.imgExtension }} 150w," 
						sizes="(min-width:0em) 15vw,
						       (min-width:40em) 10vw" 
						src="{{ workImagePath }}/{{ workImage.mobile.imgName }}-300{{ workImage.mobile.imgExtension }}" 
						alt="{{ workImage.mobile.altText|safe }}" 
						class="mobile">
				</figure>
			{% endif %}
		{% endfor %}
	</div>

	<div class="info">
		<h2 class="title">{{ workTitle|safe }}</h2>
		<div class="description t-justify">
			{% block workDescription %}
			{% endblock %}
			
			{% if websiteUrl %}
			<a href="{{websiteUrl}}" class="highlighter" target="_blank">View Website</a>
			{% endif %}
		</div>
		<div class="roles">
			<ul>
				{% for role in roles %}
				<li>{{ role }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</article>