{# Web work: Clidesfeld #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'clidesfeld' %}

{% set desktopImg1 = 'assets/media/images/web/Clidesfeld/homepage_lg.jpg' %}
{% set desktopImg1Alt = 'Clidesfeld Website, desktop example 1' %}
{% set tabletImg1 = 'assets/media/images/web/Clidesfeld/homepage_md.jpg' %}
{% set tabletImg1Alt = 'Clidesfeld Website, tablet example 1' %}
{% set mobileImg1 = 'assets/media/images/web/Clidesfeld/homepage_sm.jpg' %}
{% set mobileImg1Alt = 'Clidesfeld Website, mobile example 1' %}

{% set desktopImg2 = 'assets/media/images/web/Clidesfeld/music_lg.jpg' %}
{% set desktopImg2Alt = 'Clidesfeld Website, desktop example 2' %}
{% set tabletImg2 = 'assets/media/images/web/Clidesfeld/music_md.jpg' %}
{% set tabletImg2Alt = 'Clidesfeld Website, tablet example 2' %}
{% set mobileImg2 = 'assets/media/images/web/Clidesfeld/music_sm.jpg' %}
{% set mobileImg2Alt = 'Clidesfeld Website, mobile example 2' %}

{% set workTitle = 'Clidesfeld' %}

{% block workDescription %}
	<p>A long-running <a href="/music">music project</a> of mine.</p>
{% endblock %}

{% set websiteUrl = 'http://clidesfeld.com/' %}

{% set roles = ['User experience design','Web design','Front-end development','CMS customization'] %}