{# Web work: Heller #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'heller' %}

{% set desktopImg1 = 'assets/media/images/web/Heller/bikes-landing_lg.jpg' %}
{% set desktopImg1Alt = 'Heller Bikes Website, desktop example' %}
{% set tabletImg1 = 'assets/media/images/web/Heller/bikes-landing_md.jpg' %}
{% set tabletImg1Alt = 'Heller Bikes Website, tablet example' %}
{% set mobileImg1 = 'assets/media/images/web/Heller/bikes-landing_sm.jpg' %}
{% set mobileImg1Alt = 'Heller Bikes Website, mobile example' %}

{% set workTitle = 'Heller Bikes' %}

{% block workDescription %}
	<p>Heller Bikes information</p>
	<a href="https://hellerbikes.com/" target="_blank">View Website</a>
{% endblock %}

{% set roles = ['Digital strategy','Wireframing','User experience design','Front-end development','CMS customization'] %}