{# Web work: iSSi #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'issi' %}

{% set desktopImg1 = 'assets/media/images/web/iSSi/homepage_lg.jpg' %}
{% set desktopImg1Alt = 'iSSi Pedals Website, desktop example' %}
{% set tabletImg1 = 'assets/media/images/web/iSSi/homepage_md.jpg' %}
{% set tabletImg1Alt = 'iSSi Pedals Website, tablet example' %}
{% set mobileImg1 = 'assets/media/images/web/iSSi/homepage_sm.jpg' %}
{% set mobileImg1Alt = 'iSSi Pedals Website, mobile example' %}

{% set desktopImg2 = 'assets/media/images/web/iSSi/pedal-detail_lg.jpg' %}
{% set desktopImg2Alt = 'iSSi Pedals Website, desktop example' %}
{% set tabletImg2 = 'assets/media/images/web/iSSi/pedal-detail_md.jpg' %}
{% set tabletImg2Alt = 'iSSi Pedals Website, tablet example' %}
{% set mobileImg2 = 'assets/media/images/web/iSSi/pedal-detail_sm.jpg' %}
{% set mobileImg2Alt = 'iSSi Pedals Website, mobile example' %}

{% set workTitle = 'iSSi Pedals' %}

{% block workDescription %}
	<p>iSSi is a bicycle pedal brand operating within Quality Bicycle Products. As a small brand, iSSi had a lot of room to be loud and expressive with its product and presentation. In 2016, I led the project of their first major website, strategized and built with flexibility in mind for the future of the brand. Since then, I've iterated with iSSi to adapt their digital presentation to more closely reflect their playful and very colorful nature.</p>
	<a href="https://rideissi.com/" target="_blank">View Website</a>
{% endblock %}

{% set roles = ['Project leadership','Digital strategy','Wireframing','User experience design','Web design','Front-end development','CMS customization'] %}
