{# Web work: KETL #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'ketl' %}

{% set workTitle = 'KETL MTN' %}

{% block workDescription %}
	<p>KETL MTN is a mountain bike apparel brand under Quality Bicycle Products. As a clothing brand, KETL put a major focus into quality sizing visibility, leading us to develop an in-depth interactive sizing guide tool displaying people of various sizes wearing KETL apparel.</p>
{% endblock %}

{% set websiteUrl = 'https://ketlmtn.com/' %}

{% set roles = ['Project leadership','Digital strategy','Wireframing','User experience design','Front-end development','CMS customization','Custom sizing guide tool'] %}

{% set workImagePath = 'assets/media/images/web/KETL' %}

{% set workImages = [
	{
		'desktop' : {
			'imgName': 'product-detail_desktop',
			'imgExtension': '.jpg',
			'altText': 'KETL MTN Website, desktop example 1'
		},
		'tablet' : {
			'imgName': 'product-detail_tablet',
			'imgExtension': '.jpg',
			'altText': 'KETL MTN Website, tablet example 1'
		},
		'mobile' : {
			'imgName': 'product-detail_mobile',
			'imgExtension': '.jpg',
			'altText': 'KETL MTN Website, mobile example 1'
		}
	},
	{
		'desktop': {
			'imgName': 'sizing_desktop',
			'imgExtension': '.jpg',
			'altText': 'KETL MTN Website, desktop example 2'
		},
		'tablet': {
			'imgName': 'sizing_tablet',
			'imgExtension': '.jpg',
			'altText': 'KETL MTN Website, tablet example 2'
		},
		'mobile': {
			'imgName': 'sizing_mobile',
			'imgExtension': '.jpg',
			'altText': 'KETL MTN Website, mobile example 2'
		}
	}
]
%}