{# Web work: KETL #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'ketl' %}

{% set desktopImg1 = 'assets/media/images/web/KETL/product-detail_lg.jpg' %}
{% set desktopImg1Alt = 'KETL MTN Website, desktop example' %}
{% set tabletImg1 = 'assets/media/images/web/KETL/product-detail_md.jpg' %}
{% set tabletImg1Alt = 'KETL MTN Website, tablet example' %}
{% set mobileImg1 = 'assets/media/images/web/KETL/product-detail_sm.jpg' %}
{% set mobileImg1Alt = 'KETL MTN Website, mobile example' %}

{% set desktopImg2 = 'assets/media/images/web/KETL/sizing_lg.jpg' %}
{% set desktopImg2Alt = 'KETL MTN Website, desktop example' %}
{% set tabletImg2 = 'assets/media/images/web/KETL/sizing_md.jpg' %}
{% set tabletImg2Alt = 'KETL MTN Website, tablet example' %}
{% set mobileImg2 = 'assets/media/images/web/KETL/sizing_sm.jpg' %}
{% set mobileImg2Alt = 'KETL MTN Website, mobile example' %}

{% set workTitle = 'KETL MTN' %}

{% block workDescription %}
	<p>KETL MTN is a mountain bike apparel brand under Quality Bicycle Products. In 2017, a small team of us launched this brand in phases, culminating in a highly-anticipated website launch.</p>
	<a href="https://ketlmtn.com/" target="_blank">View Website</a>
{% endblock %}

{% set roles = ['Project leadership','Digital strategy','Wireframing','User experience design','Front-end development','CMS customization','Custom sizing guide tool'] %}
