{# Web work: NOVVAA #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'novvaa' %}

{% set workTitle = 'Novvaa' %}

{% block workDescription %}
	<p>Novvaa is a singer-songwriter in the Twin Cities who approached me for an intimate website that reflected her music: dark, beautiful, and broody.</p>
{% endblock %}

{% set websiteUrl = 'https://novvaamusic.com/' %}

{% set roles = ['Digital strategy','Wireframing','User experience design','Web design','Front-end development','CMS customization'] %}

{% set workImagePath = 'assets/media/images/web/Novvaa' %}

{% set workImages = [
	{
		'desktop' : {
			'imgName': 'homepage_desktop',
			'imgExtension': '.jpg',
			'altText': 'Novvaa Website, desktop example 1'
		},
		'tablet' : {
			'imgName': 'homepage_tablet',
			'imgExtension': '.jpg',
			'altText': 'Novvaa Website, tablet example 1'
		},
		'mobile' : {
			'imgName': 'homepage_mobile',
			'imgExtension': '.jpg',
			'altText': 'Novvaa Website, mobile example 1'
		}
	},
	{
		'desktop': {
			'imgName': 'gigs_desktop',
			'imgExtension': '.jpg',
			'altText': 'Novvaa Website, desktop example 2'
		},
		'tablet': {
			'imgName': 'gigs_tablet',
			'imgExtension': '.jpg',
			'altText': 'Novvaa Website, tablet example 2'
		},
		'mobile': {
			'imgName': 'gigs_mobile',
			'imgExtension': '.jpg',
			'altText': 'Novvaa Website, mobile example 2'
		}
	}
]
%}
