{# Web work: NOVVAA #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'novvaa' %}

{% set desktopImg1 = 'assets/media/images/web/Novvaa/homepage_lg.jpg' %}
{% set desktopImg1Alt = 'Novvaa Website, desktop example 1' %}
{% set tabletImg1 = 'assets/media/images/web/Novvaa/homepage_md.jpg' %}
{% set tabletImg1Alt = 'Novvaa Website, tablet example 1' %}
{% set mobileImg1 = 'assets/media/images/web/Novvaa/homepage_sm.jpg' %}
{% set mobileImg1Alt = 'Novvaa Website, mobile example 1' %}

{% set desktopImg1 = 'assets/media/images/web/Novvaa/gigs_lg.jpg' %}
{% set desktopImg2Alt = 'Novvaa Website, desktop example 2' %}
{% set tabletImg1 = 'assets/media/images/web/Novvaa/gigs_md.jpg' %}
{% set tabletImg2Alt = 'Novvaa Website, tablet example 2' %}
{% set mobileImg1 = 'assets/media/images/web/Novvaa/gigs_sm.jpg' %}
{% set mobileImg2Alt = 'Novvaa Website, mobile example 2' %}

{% set workTitle = 'Novvaa' %}

{% block workDescription %}
	<p>Novvaa is a singer-songwriter in the Twin Cities who approached me for an intimate website that reflected her music: dark, beautiful, and broody.</p>
	<a href="http://novvaamusic.com/" target="_blank">View Website</a>
{% endblock %}

{% set roles = ['Digital strategy','Wireframing','User experience design','Web design','Front-end development','CMS customization'] %}