{# Web work: Salsa #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'salsa' %}

{% set desktopImg1 = 'assets/media/images/web/Salsa/rof-home_lg.jpg' %}
{% set desktopImg1Alt = 'Salsa Cycles Storysite Website, desktop example 1' %}
{% set tabletImg1 = 'assets/media/images/web/Salsa/rof-home_md.jpg' %}
{% set tabletImg1Alt = 'Salsa Cycles Storysite Website, tablet example 1' %}
{% set mobileImg1 = 'assets/media/images/web/Salsa/rof-home_sm.jpg' %}
{% set mobileImg1Alt = 'Salsa Cycles Storysite Website, mobile example 1' %}

{% set desktopImg2 = 'assets/media/images/web/Salsa/rof-expedition_lg.jpg' %}
{% set desktopImg2Alt = 'Salsa Cycles Storysite Website, desktop example 2' %}
{% set tabletImg2 = 'assets/media/images/web/Salsa/rof-expedition_md.jpg' %}
{% set tabletImg2Alt = 'Salsa Cycles Storysite Website, tablet example 2' %}
{% set mobileImg2 = 'assets/media/images/web/Salsa/rof-expedition_sm.jpg' %}
{% set mobileImg2Alt = 'Salsa Cycles Storysite Website, mobile example 2' %}

{% set workTitle = 'Salsa Cycles: Storysites' %}

{% block workDescription %}
	<p>Salsa Cycles is the largest brand within the walls of Quality Bicycle Products. They popularized adventure cycling with their bikes, parts, and clothing, and produce rich content on their website to inspire folks to explore. In 2014, Salsa came to us with an idea for their first major rich content story to be shown on their website. Since then, we have produced over 10 storysites, collaborating with adventurers around the country and winning <a href="https://bikepacking.com/plog/2017-bikepacking-awards-1/" target="_blank">Best in Art/Multimedia for 2017 Bikepacking Awards</a>.</p>
{% endblock %}

{% set websiteUrl = 'https://salsacycles.com/stories' %}

{% set roles = ['Digital strategy','Wireframing','Front-end development','CMS customization'] %}