{# Web work: Surly #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'surly' %}

{% set desktopImg1 = 'assets/media/images/web/Surly/bikes-landing_lg.jpg' %}
{% set desktopImg1Alt = 'Surly Bikes Website, desktop example' %}
{% set tabletImg1 = 'assets/media/images/web/Surly/bikes-landing_md.jpg' %}
{% set tabletImg1Alt = 'Surly Bikes Website, tablet example' %}
{% set mobileImg1 = 'assets/media/images/web/Surly/bikes-landing_sm.jpg' %}
{% set mobileImg1Alt = 'Surly Bikes Website, mobile example' %}

{% set desktopImg2 = 'assets/media/images/web/Surly/dealers_lg.jpg' %}
{% set desktopImg2Alt = 'Surly Bikes Website, desktop example' %}
{% set tabletImg2 = 'assets/media/images/web/Surly/dealers_md.jpg' %}
{% set tabletImg2Alt = 'Surly Bikes Website, tablet example' %}
{% set mobileImg2 = 'assets/media/images/web/Surly/dealers_sm.jpg' %}
{% set mobileImg2Alt = 'Surly Bikes Website, mobile example' %}

{% set workTitle = 'Surly Bikes' %}

{% block workDescription %}
	<p>Surly is a bicycle brand operating within Quality Bicycle Products. Working closely with Surly over the years, I've developed lots of materials for them. The largest project was for their website redesign in 2018, where we built a new website from the ground up to adapt to their growing needs without compromising their zine-like aesthetic.</p>
{% endblock %}

{% set websiteUrl = 'https://surlybikes.com/' %}

{% set roles = ['Digital strategy','Wireframing','User experience design','Front-end development'] %}