{# Web work: Surly #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'surly' %}

{% set workTitle = 'Surly Bikes' %}

{% block workDescription %}
	<p>Surly is a bicycle brand operating within Quality Bicycle Products. Working closely with Surly over the years, I've developed lots of materials for them. The largest project was for their website redesign in 2018, where we built a new website from the ground up to adapt to their growing needs without compromising their zine-like aesthetic.</p>
{% endblock %}

{% set websiteUrl = 'https://surlybikes.com/' %}

{% set roles = ['Digital strategy','Wireframing','User experience design','Front-end development'] %}

{% set workImagePath = 'assets/media/images/web/Surly' %}

{% set workImages = [
	{
		'desktop' : {
			'imgName': 'bikes-landing_desktop',
			'imgExtension': '.jpg',
			'altText': 'Surly Bikes Website, desktop example 1'
		},
		'tablet' : {
			'imgName': 'bikes-landing_tablet',
			'imgExtension': '.jpg',
			'altText': 'Surly Bikes Website, tablet example 1'
		},
		'mobile' : {
			'imgName': 'bikes-landing_mobile',
			'imgExtension': '.jpg',
			'altText': 'Surly Bikes Website, mobile example 1'
		}
	},
	{
		'desktop': {
			'imgName': 'dealers_desktop',
			'imgExtension': '.jpg',
			'altText': 'Surly Bikes Website, desktop example 2'
		},
		'tablet': {
			'imgName': 'dealers_tablet',
			'imgExtension': '.jpg',
			'altText': 'Surly Bikes Website, tablet example 2'
		},
		'mobile': {
			'imgName': 'dealers_mobile',
			'imgExtension': '.jpg',
			'altText': 'Surly Bikes Website, mobile example 2'
		}
	}
]
%}