{# Web work: Teravail #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'teravail' %}

{% set desktopImg1 = 'assets/media/images/web/Teravail/product-detail_lg.jpg' %}
{% set desktopImg1Alt = 'Teravail website, desktop example' %}
{% set tabletImg1 = 'assets/media/images/web/Teravail/product-detail_md.jpg' %}
{% set tabletImg1Alt = 'Teravail website, tablet example' %}
{% set mobileImg1 = 'assets/media/images/web/Teravail/product-detail_sm.jpg' %}
{% set mobileImg1Alt = 'Teravail website, mobile example' %}

{% set desktopImg2 = 'assets/media/images/web/Teravail/articles-landing_lg.jpg' %}
{% set desktopImg2Alt = 'Teravail website, desktop example' %}
{% set tabletImg2 = 'assets/media/images/web/Teravail/articles-landing_md.jpg' %}
{% set tabletImg2Alt = 'Teravail website, tablet example' %}
{% set mobileImg2 = 'assets/media/images/web/Teravail/articles-landing_sm.jpg' %}
{% set mobileImg2Alt = 'Teravail website, mobile example' %}

{% set workTitle = 'Teravail Tires' %}

{% block workDescription %}
	<p>Teravail is a bicycle tire brand under the umbrella of Quality Bicycle Products. Their focus is on the experience of all-terrain tires, from bikepacking to gravel racing to rough terrain mountain biking. In 2015, a small team of us collaborated to launch this brand, winning the <a href="https://www.howdesign.com/winter-2017-house-design-awards-sports/" target="_blank">HOW In-House Design Award in 2017 for Outstanding Achievement</a> for our branding work and web presentation.</p>
	<a href="https://teravail.com/" target="_blank">View Website</a>
{% endblock %}

{% set roles = ['Digital strategy','Wireframing','User experience design','Front-end development','CMS customization'] %}
