{# Web work: Teravail #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'teravail' %}

{% set workTitle = 'Teravail Tires' %}

{% block workDescription %}
	<p>Teravail is a bicycle tire brand under the umbrella of Quality Bicycle Products. Their focus is on the experience of all-terrain tires, from bikepacking to gravel racing to rough terrain mountain biking. In 2015, a small team of us collaborated to launch this brand, winning the <a href="https://www.howdesign.com/winter-2017-house-design-awards-sports/" target="_blank">HOW In-House Design Award in 2017 for Outstanding Achievement</a> for our branding work and web presentation.</p>
{% endblock %}

{% set websiteUrl = 'https://teravail.com/' %}

{% set roles = ['Digital strategy','Wireframing','User experience design','Front-end development','CMS customization'] %}

{% set workImagePath = 'assets/media/images/web/Teravail' %}

{% set workImages = [
	{
		'desktop' : {
			'imgName': 'product-detail_desktop',
			'imgExtension': '.jpg',
			'altText': 'Teravail Website, desktop example 1'
		},
		'tablet' : {
			'imgName': 'product-detail_tablet',
			'imgExtension': '.jpg',
			'altText': 'Teravail Website, tablet example 1'
		},
		'mobile' : {
			'imgName': 'product-detail_mobile',
			'imgExtension': '.jpg',
			'altText': 'Teravail Website, mobile example 1'
		}
	},
	{
		'desktop': {
			'imgName': 'articles-landing_desktop',
			'imgExtension': '.jpg',
			'altText': 'Teravail Website, desktop example 2'
		},
		'tablet': {
			'imgName': 'articles-landing_tablet',
			'imgExtension': '.jpg',
			'altText': 'Teravail Website, tablet example 2'
		},
		'mobile': {
			'imgName': 'articles-landing_mobile',
			'imgExtension': '.jpg',
			'altText': 'Teravail Website, mobile example 2'
		}
	}
]
%}
