{# Web work: The Decayed Realms #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'tdr' %}

{% set workTitle = 'The Decayed Realms' %}

{% block workDescription %}
	<p>An arcade-inspired microsite to provide a digital face to a current <a href="/music">musical project</a> of mine.</p>
{% endblock %}

{% set websiteUrl = 'http://thedecayedrealms.com/' %}

{% set roles = ['Digital strategy','Wireframing','User experience design','Web design','Front-end development'] %}

{% set workImagePath = 'assets/media/images/web/TDR' %}

{% set workImages = [
	{
		'desktop' : {
			'imgName': 'about_desktop',
			'imgExtension': '.jpg',
			'altText': 'The Decayed Realms Website, desktop example 1'
		},
		'tablet' : {
			'imgName': 'about_tablet',
			'imgExtension': '.jpg',
			'altText': 'The Decayed Realms Website, tablet example 1'
		},
		'mobile' : {
			'imgName': 'about_mobile',
			'imgExtension': '.jpg',
			'altText': 'The Decayed Realms Website, mobile example 1'
		}
	},
	{
		'desktop': {
			'imgName': 'music_desktop',
			'imgExtension': '.jpg',
			'altText': 'The Decayed Realms Website, desktop example 2'
		},
		'tablet': {
			'imgName': 'music_tablet',
			'imgExtension': '.jpg',
			'altText': 'The Decayed Realms Website, tablet example 2'
		},
		'mobile': {
			'imgName': 'music_mobile',
			'imgExtension': '.jpg',
			'altText': 'The Decayed Realms Website, mobile example 2'
		}
	}
]
%}