{# Web work: Whisky #}
{% extends 'templates/subtemplates/_work-web.njk' %}

{% set workID = 'whisky' %}

{% set desktopImg1 = 'assets/media/images/web/Whisky/product-detail_lg.jpg' %}
{% set desktopImg1Alt = 'Whisky Parts Co Website, desktop example' %}
{% set tabletImg1 = 'assets/media/images/web/Whisky/product-detail_md.jpg' %}
{% set tabletImg1Alt = 'Whisky Parts Co Website, tablet example' %}
{% set mobileImg1 = 'assets/media/images/web/Whisky/product-detail_sm.jpg' %}
{% set mobileImg1Alt = 'Whisky Parts Co Website, mobile example' %}

{% set desktopImg2 = 'assets/media/images/web/Whisky/select-detail_lg.jpg' %}
{% set desktopImg2Alt = 'Whisky Parts Co Website, desktop example' %}
{% set tabletImg2 = 'assets/media/images/web/Whisky/select-detail_md.jpg' %}
{% set tabletImg2Alt = 'Whisky Parts Co Website, tablet example' %}
{% set mobileImg2 = 'assets/media/images/web/Whisky/select-detail_sm.jpg' %}
{% set mobileImg2Alt = 'Whisky Parts Co Website, mobile example' %}

{% set workTitle = 'Whisky Parts Co' %}

{% block workDescription %}
	<p>Whisky is a carbon fiber bike parts brand within Quality Bicycle Products. As their lineup grew beyond their initial small catalog, so did the need for a larger, scalable website. Specifically catering to the brand's new goal to embrace bold colors and typography, we launched a site listing their wide breadth of product in a vibrant but minimalist display.</p>
	<a href="https://whiskyparts.co/" target="_blank">View Website</a>
{% endblock %}

{% set roles = ['Project leadership','Digital strategy','Wireframing','User experience design','Web design','Front-end development','CMS customization'] %}

