{# Video work: 100ºF at CGBP #}
{% extends 'templates/subtemplates/_work-video.njk' %}

{% set workTitle = '100&deg;F at Cottage Grove Bike Park' %}
{% set workID = '100f-cgbp' %}

{% set videoID = 'kF7jZPbg53k' %}
{% set videoThumbnail = '100f.jpg' %}

{% block workDescription %}
	<p>A short bike video produced on one of Minnesota's hottest days of 2018.</p>
{% endblock %}

{% set roles = ['Direction','Cinematography','Editing','Graphic design','"Stunts"'] %}