{# Video work: B Plus #}
{% extends 'templates/subtemplates/_work-video.njk' %}

{% set workTitle = 'B+' %}
{% set workID = 'b-plus' %}

{% set videoID = '3keoBoR5z30' %}
{% set videoThumbnail = 'bplus.jpg' %}

{% block workDescription %}
	<p>We set out to create a bike video like the ones you see shared all over. The only issue was that none of us were that great at biking. So doing the best we could, we collaboratively filmed a segment of me learning to ride urban assault and BMX.</p>
{% endblock %}

{% set roles = ['Direction','Cinematography','Editing','Graphic design','"Stunts"'] %}