{# Video work: Music on Three Wheels #}
{% extends 'templates/subtemplates/_work-video.njk' %}

{% set workTitle = 'Music on Three Wheels' %}
{% set workID = 'music-on-three-wheels' %}

{% set videoID = 'OkSGJcnE2Ts' %}
{% set videoThumbnail = 'motw.jpg' %}

{% block workDescription %}
	<p>As part of a sendoff to a month of 30 Days of Biking activities, <a href="http://thedecayedrealms.com/" target="_blank">my band</a> played a rolling gig through Minneapolis on a custom-fabricated e-assist tricycle. This is a documentary to show how it came to be.</p>
{% endblock %}

{% set roles = ['Direction','Cinematography','Editing','Interviewing','Graphic design'] %}