{# Home template #}

{% extends "templates/_layout.njk" %}
{% set pageTitle = 'The work of Brandon Patrick Sullivan' %}
{% set description = '' %}
{% set pageID = "home" %}

{% block content %}
	<div id="neon">
		<i class="b"></i><i class="p"></i><i class="s"></i>
	</div>
{% endblock %}