{# Music template #}

{% extends "templates/_layout.njk" %}
{% set pageTitle = 'Musical works by Brandon Patrick Sullivan' %}
{% set description = '' %}
{% set pageID = "music" %}

{% block content %}
	<header>
		<h3 class="subheading">Work</h3>
		<h2 class="heading">Music</h2>
	</header>

	<div class="blurb">
		<div class="examples">
			{% include "data/music/releases/the-quest-club-demo.njk" %}
			{% include "data/music/releases/blind-lunar-novas.njk" %}
			{% include "data/music/releases/improv.njk" %}
			{% include "data/music/releases/hyperzoa.njk" %}
			{% include "data/music/releases/trocaderos.njk" %}
			{% include "data/music/releases/ex-mens-mentis-ab-organum.njk" %}
			{% include "data/music/releases/the-carousel-room.njk" %}
			{% include "data/music/releases/gizmo.njk" %}
			{% include "data/music/releases/400-bar.njk" %}
			{% include "data/music/releases/def-and-dum.njk" %}
			{% include "data/music/releases/fall.njk" %}
			{% include "data/music/releases/as-is.njk" %}
			{% include "data/music/releases/hypotenuse.njk" %}
			{% include "data/music/releases/sigh.njk" %}
			{% include "data/music/releases/4-days.njk" %}
			{% include "data/music/releases/atlas.njk" %}
			{% include "data/music/releases/clarity.njk" %}
			{% include "data/music/releases/dotted-legs.njk" %}
			{% include "data/music/releases/the-decayed-realms.njk" %}
			{% include "data/music/releases/grounded.njk" %}
			{% include "data/music/releases/tdr3.njk" %}
			{% include "data/music/releases/healing.njk" %}
		</div>

		<div class="description t-justify">
			<p>Since 2005, I've recorded and published 22 major releases across 3 musical projects. For each release, I served as audio engineer, producer, mixer, musician, and graphic designer.</p>

			<p>This work has slowed in recent years, but I'm still writing music with my current band as well as collaborating as a session musician or engineer when called to.</p>
		</div>
	</div>

	<ul class="music-projects">
		{% include "data/music/projects/the-decayed-realms.njk" %}
		{% include "data/music/projects/clidesfeld.njk" %}
		{% include "data/music/projects/def-and-dum.njk" %}
	</ul>

	<!-- The Decayed Realms
	Clidesfeld
	Def & Dum
	EMD?
	What other production/music? -->
{% endblock %}