{# Videos template #}

{% extends "templates/_layout.njk" %}
{% set pageTitle = 'Videos by Brandon Patrick Sullivan' %}
{% set description = '' %}
{% set pageID = "video" %}

{% block content %}
	<header>
		<h3 class="subheading">Work</h3>
		<h2 class="heading">Video</h2>
	</header>

	{% include "video/winter-cycling-congress.njk" %}
	{% include "video/music-on-three-wheels.njk" %}
	{% include "video/b-plus.njk" %}
	{% include "video/100f-cgbp.njk" %}
	{% include "video/mama-caught-fire.njk" %}
	{% include "video/rest-stop-skate.njk" %}

	<footer>
		<p>For more videos about action sports and miscellanea, <a href="https://www.youtube.com/user/elsullivano/" class="highlighter" target="_blank">visit me on YouTube</a>.</p>
	</footer>
{% endblock %}