{# Web template #}

{% extends "templates/_layout.njk" %}
{% set pageTitle = 'UX and front-end development work of Brandon Patrick Sullivan' %}
{% set description = '' %}
{% set pageID = "web" %}

{% block content %}
	<header>
		<h3 class="subheading">Work</h3>
		<h2 class="heading">Web</h2>
	</header>

	{% include "data/web/surly.njk" %}
	{% include "data/web/teravail.njk" %}
	{% include "data/web/issi.njk" %}
	{% include "data/web/ketl.njk" %}
	{% include "data/web/whisky.njk" %}
	{% include "data/web/salsa.njk" %}
	{# {% include "data/web/heller.njk" %} #}
	{% include "data/web/novvaa.njk" %}
	{% include "data/web/thedecayedrealms.njk" %}
	{% include "data/web/clidesfeld.njk" %}

	<footer>
		<p>For a glimpse into ongoing projects and experiments, <a href="https://codepen.io/bpsmpls/" class="highlighter" target="_blank">visit me on Codepen</a>.</p>
	</footer>
{% endblock %}