// Section: About
// --------------------------------------------------

#about {
	align-items:center;
	background:desaturate(#032953, 60%);
	color:var(--main-bg-color);
	display:flex;
	justify-content:center;
	min-height:100vh;
	padding:0;

	.grid {
		font-size:0.85em;
		padding:4vw;

		figure {
			grid-column:1;
			grid-row:2;
			margin:0 0 1em;

			img {
				display:block;
				max-width:100%;
			}
		}

		@media (min-width:40em) {
			display:grid;
			grid-gap:4vw;
			grid-template-columns:30% 1fr;
		}

		.heading {
			align-self:start;
			grid-column:1 e('/') 3;
			grid-row:1;
			font:400 4em/1.2 @font-family-serif;
			letter-spacing:0.05em;
			margin:0;
			text-align:center;
			//-webkit-text-fill-color:transparent;

			small {
				display:block;
				font:500 0.22em/1 @font-family-sans;
				letter-spacing:0.3em;
				margin-bottom:-1.25vw;
				text-transform:uppercase;
			}
			
			@supports (background-clip:text) or (-webkit-background-clip:text) {
				-webkit-background-clip:text;
				background-clip:text;
				background-image:url('../media/images/bps.jpg');
				background-position:83% 39%;
				background-repeat:no-repeat;
				background-size:400%;
				color:transparent;
			}

			@media (min-width:50em) {
				font:400 6vw/1.2 @font-family-serif;

				small {
					font:500 1.25vw/1 @font-family-sans;
				}
				@supports (background-clip:text) or (-webkit-background-clip:text) {
					background-position:90% 41%;
					background-size:300%;
				}
			}
		}

		.description {
			font-weight:300;
			letter-spacing:0.08em;
			grid-column:2;
			grid-row:2;
			padding:0 0 2vw;
		}
		.statement {
			columns:2 20em;
			column-gap:4vw;	
		}
		footer {
			margin-top:4vw;
			text-align:right;
		}
	}
}