// Section: Work
// --------------------------------------------------

.work {
	margin-bottom:15vw;

	figure {
		img {
			display:block;
			max-width:100%;
		}
		.modal {
			display:none;
		}
	}

	.info {
		display:grid;
		grid-gap:1em;
		grid-template-areas:'title''description''roles';
		grid-template-rows:1fr;
		justify-content:center;
	}
	.title {
		font:@font-weight-bold 1.25em/1 @font-family-sans;
		grid-area:title;
		letter-spacing:0.1em;
		margin:0;
		text-transform:uppercase;
	}
	.description {
		color:@gray;
		display:block;
		font-size:0.825em;
		grid-area:description;
		line-height:1.4;
		margin:0 0 1em;
	}
	.roles {
		color:@gray-light;
		font:@font-weight-bold 0.75em/1 @font-family-sans;
		grid-area:roles;
		letter-spacing:0.05em;
		text-transform:uppercase;
		
		ul {
			list-style:none;
			margin:0;
			padding:0;
		}
		li {
			margin:0 0 0.5em;
		}
	}

	figure {
		position:relative;

		a {
			&:before,
			&:after {
				display:none;
			}
		}
	}

	@media (min-width:34em) {
		.info {
			grid-gap:2vw 4vw;
			grid-template-areas:'title title'
								'description roles';
		}
	}

	@media (min-width:40em) {
		align-items:start;
		display:grid;
		grid-template-columns:3fr 2fr;
		grid-gap:4vw;

		.info {
			grid-template-areas:'title''description''roles';
		}
	}

	@media (min-width:61em) {
		//align-items:center;
		grid-template-columns:7fr 3fr;

		.info { 
			padding-top:2vw;
		}
	}

	// Specific to WEB projets
	&.web {
		.examples {
			padding:0 0 7vw;

			figure {
				align-items:end;
				display:grid;
				grid-template-columns:5fr 4fr 2fr 0;
				//grid-template-rows:
				grid-gap:3vw;

				img {
					//border:0.35vw solid var(--main-bg-color);
					display:block;
					max-width:100%;
				}
			}
			figure + figure {
				display:none;
			}

			img {
				grid-row:1;
				box-shadow:0px 5px 6px 0px rgba(0,0,0,0.5);
			}
			.desktop { 
				border:0;
				grid-column:1 e('/') 5;
			}
			.tablet { 
				grid-column:2;
				margin-bottom:-5vw;
			}
			.mobile { 
				grid-column:3;
				margin-bottom:-3vw;
			}
		}
		
		&#novvaa {
			img {
				border:1px solid @gray-dark;
			}
		}
	}

	// Specific to VIDEO projects
	&.video {
		@box-shadow-y-offset:8px;
		@box-shadow-spread:8px;
		@box-shadow-inset:15px;

		figure {
			margin:0 0 1em;
		}

		img {
			box-shadow:0 @box-shadow-y-offset @box-shadow-spread (@box-shadow-spread * -1) rgba(0,0,0,0.5);
			.transform(scale(1));
			.transition(all 0.4s ease-in-out);
			transition-delay:0.1s;
		}

		.play-btn {
			background:@gray-darker;
			border-radius:50%;
			cursor:pointer;
			height:7vw;
			left:50%;
			min-height:4em;
			min-width:4em;
			opacity:0.9;
			position:absolute;
			top:50%;
			width:7vw;
			.transform(translate(-50%, -50%) scale(1));
			.transition(all 0.3s ease-in-out);

			&:before {
				background:@white;
				content:'';
				height:2vw;
				left:50%;
				min-height:1em;
				min-width:1.5em;
				position:absolute;
				top:50%;
				width:3vw;
				.clip-path(polygon(0 0, 75% 0, 75% 35%, 100% 15%, 100% 85%, 75% 65%, 75% 100%, 0 100%));
				.transform(translate(-50%,-50%) rotate(0deg));
				.transition(all 0.2s cubic-bezier(.27,.08,.79,1.18));
			}
		}

		@media (hover: hover) {
			.thumb:hover {
				img {
					box-shadow:0 (@box-shadow-y-offset + @box-shadow-inset/2) (@box-shadow-spread * 2) (@box-shadow-inset * -1) rgba(0,0,0,0.3);
					.transform(scale(1.05));
				}
				.play-btn {
					.transform(translate(-50%, -50%) scale(1.2));

					&:before {
						.clip-path(polygon(50% 0, 50% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 100%));
						height:3vw;
						.transform(translate(-45%,-50%) rotate(90deg));
					}
				}
			}
		}
	}
}